<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barisproduction.aldimbunu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AldımBunu">
        <activity android:name=".activities.OdemeActivity"></activity>
        <activity android:name=".activities.AdresEkleActivity" />
        <activity android:name=".activities.AdresActivity" />
        <activity android:name=".activities.SepetActivity" />
        <activity android:name=".activities.ShowAllActivity" />
        <activity android:name=".activities.DetayActivity" />
        <activity android:name=".activities.OnBoarding" />
        <activity android:name=".activities.KayitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.GirisActivity" />
        <activity android:name=".activities.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>